
<div class="row">
  <aside class="col-md-3">
    <h4 class="bold"><b>Recent</b></h4>
    <div class="clearfix">
      <ul class="recent-to-do">
        <li ng-repeat="todo in todos">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{todo.title}}
              <label class="pull-right label label-primary label-{{todo.priority}}">
                <span ng-if="todo.priority ===3">High</span>
                <span ng-if="todo.priority ===2">Medium</span>
                <span ng-if="todo.priority ===1">Low</span>
                <span ng-if="todo.priority ===null">Default</span>
              </label>
            </div>
            <div class="panel-body">
              {{todo.description}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <section class="col-md-9">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="panel panel-body">
        <div class="panel-heading">
          <h5>Create a todo list</h5>
        </div>
        <div class="panel-body">
          <form ng-submit="submit_form()">
            <div class="form-group">
              <input ng-model="formData.title" class="form-control" type="text" name="[todo][title]" id="title" placeholder="Enter your title"/>
            </div>
            <div class="form-group">
              <textarea ng-model="formData.description" class="form-control" name="[todo][description]" id="description" cols="30" rows="10" placeholder="Enter your message"></textarea>
            </div>
            <div class="form-group">
              <select ng-model="formData.priority" class="form-control" name="[todo][priority]" id="priority">
                <option value="">-- Select --</option>
                <option value="{{option.value}}" ng-repeat="option in options">{{option.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
