<div class="row">
  <div class="col-xs-12 col-sm-3" ng-include="'view/_gallery_album_sidebar.html'"></div>
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div ngf-drop ngf-select ng-model="images" class="drop-box"
             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
             accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <ul class="list-group">
          <li class="list-group-item">Upload only images</li>
          <li class="list-group-item">Allowed extensions <i>JPG</i>,<i>PNG</i></li>
          <li class="list-group-item">Allowed size upto 25MB</li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <div class="image-wrapper row">
          <div  class="images col-xs-12 col-sm-3 col-md-2" ng-repeat="image in myImages" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" data-jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}" ng-model="images" id="{{image.id}}" data-image-id="{{image.id}}">
            <div data-image="{{image.id}}" class="thumbnail"   ng-mouseover="expand=1" ng-mouseleave="expand=0" ng-init="expand=0">
              <a data-image-id="{{image.id}}" data-href="#">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="imageDelete(image,myImages.indexOf(image))"><span aria-hidden="true">&times;</span></button>
                <img ng-class="img-responsive" ng-src="{{image.image.url}}" alt="{{image.image.title && image.image.title || 'default title'}}"/>
              </a>
              <div class="caption">
                <div class="date">
                  Created at <span class="pull-right">{{image.created_at | date:'fullDate'}}</span>
                </div>
                <div class="details" ng-show="expand || image.title.length">
                  <div class="title" ng-model="image.title" contenteditable="true" ng-blur="updateDetails(image)"></div>
                  <div class="description" ng-model="image.description" contenteditable="true" ng-blur="updateDetails(image)"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>