<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <img src="" alt="" src="holder.js/300x200" class="media-object"/>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{user.name}}</h2>
        <h4><small>{{user.username}}</small></h4>
        <hr>
        <div class="well">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <dl class="">
                <dt>Email</dt>
                <dd>{{user.email}}</dd>

                <dt>Age</dt>
                <dd>{{user.age}}</dd>

                <dt>Phone</dt>
                <dd>{{user.phone}}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="profile-upload">




                <div ngf-drop ngf-select ng-model="files" class="drop-box"
                     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                     accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <hr/>
                <div class="progress" ng-show="isStarted()">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" upload-progress percentage="percentage"  aria-valuemin="0" aria-valuemax="100" style="width:0">
                    {{percentage}}
                  </div>
                </div>

                <h5>
                  Your profile image
                  <small>Please upload file if you don't have one, If you upload new profile image, old one will replace</small>
                </h5>
                <a href="" class="thumbnail">
                  <img ng-class="responsive" ngf-src="file" ng-src="{{user.userimage.url!='' && user.userimage.url || 'defaults/user.png'}}" ngf-accept="'image/*'">
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="panel panel-default">
          <div class="panel-body">
              <button type="button" class="btn btn-sm btn-default" name="button" ng-click="edit()">Edit User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
