<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="toDo">
  <base href=""/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>My TodoApp
        <small class="pull-right">
          <h5>
            <ul class="user-details nav nav-pills" ng-controller="userController">
              <li ng-hide="signedIn()">
                <a href="#login">Login</a>
              </li>
              <li ng-hide="signedIn()">
                <a href="#register">Register</a>
              </li>
              <li ng-show="signedIn()">
                <a href="#view_todos">View Todos</a>
              </li>
              <li ng-show="signedIn()">
                <a href="#me">{{user.username}}</a>
              </li>
              <li ng-show="signedIn()">
                <a href="#" ng-click="logout()">Logout</a>
              </li>
            </ul>
          </h5>
        </small>
        </h1>
        <hr/>
        <div class="clearfix"></div>
        <div ui-view></div>
      </div>
    </div>
  </div>
</body>
</html>
